body {
}

.main-page {
  padding:  30px 20px;
  text-align: right;
  background: url(../images/bigstock-food.jpg) no-repeat;
  background-size:cover;
}

.masthead{
  background-color: #B2D234;
  padding: 5px 20px;
}

#webelieve {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}


.footer{
  background-color: #B2D234;
  font-family: josefin-sans, sans-serif;
  padding: 10px 20px;
}

.nav-justified > li > a:hover{
  background-color:white;
}


#yourwellnesscampaign{
  padding-left:40px;
}

.panel-title{
  font-size: 30px;
  font-family:josefin-sans, sans-serif;
  font-weight: 300;
}

.panel-default > .panel-heading{
  color: white;
  background-color: #475424
}


#sessionBox{
  background-color: pink;
}

#sessionRow{
  margin-left: 40px;
  text-align: center;
}

.img-thumbnail{
  height: 170px;
}

#sessionBox{
  padding: 20px;
  background-color: grey;
  color: white;
  align: center;
  font-size: 30px;
  font-family:josefin-sans, sans-serif;
  font-weight: 300;
}
